
  <header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo">Beauty Salon</h1>
    
    <nav class="nav-menu d-none d-md-block">
      <ul>
        <li class="active">HOME</li>
        <li><a routerLink="/home" routerLinkActive="active"> Home </a></li>
        <li><a routerLink="/hair" routerLinkActive="active"> Hair </a></li>
        <li><a routerLink="/nails" routerLinkActive="active"> Nails </a></li>
      </ul>
    </nav>
  </div>

  </header>


  
<!-- End Header -->
<div class="main-container container-fluid"> 
  sallalaaa
  <router-outlet></router-outlet>
</div>